.item-img {
    height: 350px;
    width: 80%;
}

.item {
    border-radius: 20px;
    box-shadow: 0 0 10px lightgray;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    transition: transform .2s;
}

.item:hover {
    transform: scale(1.05);
}

.item p {
    text-align: justify;
}

.item-price {
    font-size: 40px;
}

@media screen and (max-width: 650px) {
    .item-img {
        width: 50%;
        height: auto;
    }

    .item-price {
        font-size: 30px;
    }

    .item h5 {
        font-size: 14px;
    }
}